
.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.133);
    z-index: 9999999;
}

.wrapper .Modal {
    width: 68%;
    height: 95%;
    margin: 0 auto;
    transform: translateY(3%);
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.Modal .Postİmg {
    width: 50%;
    height: 100%;
}

.Postİmg img {
    width: 100%;
    height: auto;
    transform: translateY(50%);
}

.Modal .PostComments {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 0 7px;
}

.PostComments .LoggedUser {
    position: static;
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.222);
}

.LoggedUser .loggedAvatar {
    display: flex;
    align-items: center;
}

.loggedAvatar a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}

.loggedAvatar a p {
    margin: 0;
}

.LoggedUser img {
    width: 55px;
    border-radius: 50%;
}

.PostComments .Comments {
    width: 100%;
    height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    border-left: solid 1px rgba(0, 0, 0, 0.133);
}

.Comments .User {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.Comments .User {
    display: flex;
}

.User img {
    width: 55px;
    border-radius: 50%;
    margin-right: 8px;
}

.CommentWrapper {
    margin:  10px 7px 10px  10px;
}

.CommentWrapper span {
    float: left;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 8px 0 0;
}



.User .Comment {
    word-break: break-all;
}


/*Comments Like and Save */

.CommentLikesWrapper {
    width: 100%;
    
}

.CommentLikesWrapper  button{
    border: none;
    font-size: 2em;
    padding: 7px;
    background: #fff;
}

.CommentLikesWrapper .CommentLikes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CommentLikesWrapper .likesPost {
    margin: 7px 0 7px 7px;
    font-size: 1.2em;
    font-weight: 500;
}
.CommentLikes .commentİnp {
    display: flex;
}
.commentİnp input {
    border:none;
    padding: 10px 7px;
    outline: none;
    width: 80%;
}

.commentİnp button {
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    color: rgba(0, 47, 165, 0.708);
    font-weight: 700;
}

