.HeaderWrapper {
    width: 100%;
    position: fixed;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: solid 1px rgb(209, 209, 209);
    top: 0px;
    z-index: 9999999;

}

.HeaderWrapper header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

header .Brand img {
    width: 130px;
}


header .Searchİnp {
    width: 30%;
    position: relative;
}

.Searchİnp .searchWrapper {
    position: absolute;
    margin: 20px 0px 0px;
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    min-height: 400px;
    height: 100%;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
}

.searchWrapper::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -10px;
    border-color: transparent transparent rgba(0, 0, 0, 0.645) transparent;
    border-style: solid;
    border-width: 0px 15px 20px 15px;
    width: 0px;
    height: 0px;
}

.searchWrapper .header {
    width: 100%;
    margin-left: 15px;
    line-height: 70px;
    font-size: 1.28em;
    font-weight: 600;
}

.searchWrapper .Area {
    overflow: hidden;
    height: 320px;
}

.Area .notSearch {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.Searchİnp i {
    position: absolute;
    line-height: 50px;
    margin: 0 105px 0px;
    color: rgb(209, 209, 209);
}

header .Searchİnp .Serach {
    padding: 10px 30px;
    margin: 0 100px 0px;
    width: 100%;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
    outline: none;
}

@media screen and (max-width:1036px) {
    .Serach {
        margin: 0px 40px 0px !important;
    }

    .Searchİnp i {
        position: absolute;
        line-height: 50px;
        margin: 0 45px 0px;
        color: rgb(209, 209, 209);
    }

}

@media screen and (max-width:800px) {
    .Searchİnp {
        display: none;
    }
}



header .NavigationBar {
    display: flex;
    align-items: center;
    list-style: none;
}



.NavigationBar li {
    margin: 0 15px;
    transform: scale(1.2);
}


.NavigationBar li span {
    font-size: 1.5em;
}

.NavigationBar li .userDropDown {
    position: relative;
}

.userDropDown .DropDown {
    position: absolute;
    width: 210px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.453);
    top: 0.9rem;
    right: -1rem;
    z-index: 999;
    border-radius: 4px;
}

.DropDown::before {
    content: "";
    position: absolute;
    left: 86%;
    transform: translate(-50%, -50%);
    top: -10px;
    border-color: transparent transparent rgba(0, 0, 0, 0.268) transparent;
    border-style: solid;
    border-width: 0px 10px 13px 10px;
    width: 0px;
    height: 0px;
}

.DropDown a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #262626;
    padding: 4px 10px;
    font-size: 0.9em;
    line-height: 34px;
}

.DropDown a i {
    margin: 0 10px 0 7px;
    width: 15px;
}

.DropDown a svg {
    margin-right: 8px;
}

.DropDown a span {
    font-size: 1em;
}

.DropDown .LogoutSection {
    border-top: solid 1px rgba(0, 0, 0, 0.159);
}

.LogoutSection button {
    border: none;
    margin-left: 9px;
    font-size: 0.9em;
    background-color: inherit;
}